@use "vars" as *;
.b_photoreport {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: $black;

    &-mainarea {
        position: relative;
        width: 100%;
        display: block;
        padding-top: 66.667%;

        .slider {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            flex-flow: row nowrap;
            align-items: stretch;
            justify-content: start;
            gap: $gap;
            // width: 100%;
            height: 100%;
            overflow: hidden;


            .item {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                flex-shrink: 0;

                img {
                    display: block;
                    height: 100%;
                }
            }
        }
    }
    &-controlbtn {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 10;
        width: 40px;
        height: 40px;
        margin: auto;
        border-radius: 50%;
        background: #fff;
        overflow: hidden;
        cursor: pointer;

        &.m_left {
            left: $gap2;
            transform: scale(-1,1);
        }
        &.m_right {
            right: $gap2;
        }

        &.m_disable {
            cursor: default;
            opacity: .5;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 80px;
            opacity: 1;
            background: url(https://static.gazeta.ru/nm2025/img/ui/arr_spread_gallery_bl.svg) no-repeat 50% 50%;
        }

        span {
            position: absolute;
            z-index: 2;
            top: 0;
            bottom: 0;
            width: 80px;
            right: 0;
            opacity: 0;
            background: url(https://static.gazeta.ru/nm2025/img/ui/arr_spread_gallery_bl.svg) no-repeat 50% 50%;
            transition: right 0.6s ease;
        }

        &:hover:not(.m_disable) {
            &:before {
                opacity: 0;
            }
            span {
                opacity: 1;
                right: -40px;
            }
        }
    }

    &-info {
        width: $textContentWidth;
        padding: $gap2 0;

        .picsign {
            font: 400 1.6rem/1.5 $textSans;
            color: #fff;

            &.hide {
                display: none;
            }
        }

        .copyright {
            font: 400 1.2rem/1.5 $textSans;
            // color: var(--color-grey-middle);
            color: $colorGrayMiddle;
            &:before {
                content: '\00A9';
                display: inline-block;
                margin-right: 5px;
            }
            &.hide {
                display: none;
            }
        }


    }

    $previewHeight: 38px;
    &-preview {
        position: relative;
        height: 18+$previewHeight;
        width: 100%;
        overflow: hidden;
        margin-bottom: $gap2;

        .slider {
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            gap: calc($gap / 2);
            height: 100px;
            width: 100%;
            padding: 5px 118px;
            overflow-y: hidden;
            overflow-x: scroll;

            .item {
                position: relative;
                z-index: 1;
                display: flex;
                height: $previewHeight;
                align-items: center;
                justify-content: center;
                border-radius: 2px;
                flex-shrink: 0;
                cursor: pointer;
                transform: scale(1,1);
                transform-origin: 50%;
                transition: transform 0.3s ease;

                &:hover {
                    z-index: 2;
                    transform: scale(1.15,1.15);
                }

                &:before {
                    content: '';
                    position: absolute;
                    bottom: -8px;
                    left: 0;
                    right: 0;
                    height: 2px;
                    border-radius: 2px;
                    background: $red;
                    opacity: 0;
                }

                img {
                    display: inline-flex;
                    // flex-shrink: 0;
                    height: 100%;
                    width: auto;
                }

                &.active {
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &-fullscreen-btn {
        position: absolute;
        top: $gap2;
        right: $gap2;
        z-index: 10;
        width: 40px;
        height: 40px;
        margin: auto;
        border-radius: 50%;
        background: #fff;
        overflow: hidden;
        opacity: .8;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        span {
            position: relative;
            width: 24px;
            height: 24px;
            background: url(https://static.gazeta.ru/nm2025/img/ui/zoom_bl.svg) no-repeat 50% 50%;
            background-size: 100%;
            transform: scale(1);
            transition: transform 0.6s $easeOutQuint;
        }

        &:hover {
            span {
                transform: scale(1.2);
            }
        }
    }

    &:fullscreen {
        background: var(--bg-color);

        .b_photoreport {
            &-mainarea {
                padding-top: 0;
                height: 100vh;

                .slider {
                    right: 300px;

                    img {
                        height: auto;
                        max-width: 100%;
                        max-height: 100%;
                        flex-shrink: 1;
                    }
                }
            }

            &-controlbtn {
                background: $black;
                &:before {
                    background: url(https://static.gazeta.ru/nm2025/img/ui/arr_spread_gallery_wh.svg) no-repeat 50% 50%;
                }
                span {
                    background: url(https://static.gazeta.ru/nm2025/img/ui/arr_spread_gallery_wh.svg) no-repeat 50% 50%;
                }
                &.m_left {
                    top: auto;
                    bottom: 80px;
                    left: auto;
                    right: 240px;
                }
                &.m_right {
                    top: auto;
                    bottom: 80px;
                    left: auto;
                    right: 40px;
                }
            }
            &-info {
                position: fixed;
                z-index: 10;
                width: 240px;
                right: 40px;
                top: 100px;
                bottom: 120px;
                display: flex;
                flex-flow: column;
                align-items: start;
                justify-content: center;
                max-height: none;
                background: transparent;

                .picsign {
                    color: $black;
                }

                @include screenW(1200px){
                    top: calc(100vh - 200px);
                    left: 40px;
                    width: calc(100vw - 40px - 300px);
                    display: block;
                    bottom: 0;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        height: 30px;
                        z-index: 2;
                        background: linear-gradient(180deg, #fff, rgba(255,255,255,0));
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 30px;
                        z-index: 2;
                        background: linear-gradient(0deg, #fff, rgba(255,255,255,0));
                    }
                }
            }
            &-preview {
                display: none;
            }

            &-fullscreen-btn {
                span {
                    background: none;

                    &::before, &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            width: 16px;
                            height: 2px;
                            margin: auto;
                            border-radius: 2px;
                            background-color: $black;
                            transform-origin: 50%;
                            transform: rotate(0deg);
                            transition: all 0.3s ease;
                        }

                        &::before {
                            transform: rotate(45deg);

                        }
                        &::after {

                            transform: rotate(-45deg);
                        }

                    &:hover {
                        transform: scale(1);


                        &::before {
                            background-color: $red;
                            transform: rotate(0deg);

                        }
                        &::after {
                            background-color: $red;
                            transform: rotate(0deg);
                        }
                    }
                }
            }
        }

    }

}