// css variables

$rootWidth: 1280px;
$asideWidth: 300px;
$textContentWidth: 660px;

$w_col_full: 896px; // main content width
$w_col_list: 550px; // news list columns
$w_col_h: 440px;    // half
$w_col_3: 288px;    // third
$w_col_4: 212px;    // quarter


$cols: (
    "w_col_full":   $w_col_full,
    "w_col_list":   $w_col_list,
    "w_col_h":      $w_col_h,
    "w_col_3":      $w_col_3,
    "w_col_4":      $w_col_4
);

@each $key, $value in $cols {
    .#{$key} {
        width: $value;
    }
}

$gap: 0.8rem;
$gap2: 2*$gap;
$gap3: 3*$gap;
$gap4: 4*$gap;
$gap5: 5*$gap;
$gap6: 6*$gap;

.rg {
    width: 100%;
    padding-top: 2*$gap;
}

@for $i from 1 through 10 {
    .pt#{$i} {
        padding-top: calc(#{$i}*#{$gap});
    }
    %gapPT#{$i} {
        padding-top: calc(#{$i}*#{$gap});
    }
}


$black: #202020;
$red: #C9181E;
$colorGray: #969696;
$colorGrayBright: #f5f5f5;
$colorGrayMiddle: #BFBFBF;
$colorGrayDark: #757575;

$textSans: "Source Sans 3", sans-serif;
$textSerif: "Bitter", serif;

$transitionColor: color 0.6s ease;
$easeOutQuint: cubic-bezier(0.22, 1, 0.36, 1);


$aiBg:  radial-gradient(at 10% 90%, #42c5fd 0px, transparent 70%),
        radial-gradient(at 35% 45%, #2a41f6 0px, transparent 100%),
        radial-gradient(at 80% 85%, #a160dd 0px, transparent 60%),
        radial-gradient(at 100% 0%, #874be5 0px, transparent 100%);

:root {
    // this rule
    // color-scheme: light dark;
    // allows you to use function: light-dark(LightValue, DarkValue) for all css values

    --bg-color: #fff;
    --bg-color-light: #F5F5F5;
    --bg-color-contrast: #202020;

    --modal-color: #202020;
    --box-shadow-common: 0 1px 3px rgba(32,32,32,.15);

    --stroke-color: #DFDFDF;

    --color-main: #202020;
    --color-contrast: #fff;
    --color-gray: #969696;
    --color-gray-middle: #BFBFBF;
    --color-gray-dark: #757575;

    --mark-color: #FFEBD9;

    --disactive-gray: #DFDFDF;

    --gray: #969696;
    --new-red: #C9181E;

    --theme-logo-src: url(https://static.gazeta.ru/nm2025/img/gazeta_logo_2025_bl.svg);

    // ui
    --icon-profile: url(https://static.gazeta.ru/nm2025/img/ui/profile_bl.svg);
    --icon-search: url(https://static.gazeta.ru/nm2025/img/ui/search_bl.svg);

    --icon-g-rus-wh: url(https://static.gazeta.ru/nm2025/img/ui/g_rus_wh.svg);

    --icon-tick_arrow_dwn: url(https://static.gazeta.ru/nm2025/img/ui/tick_arr_dwn_bl.svg);

    --icon-quote: url(https://static.gazeta.ru/nm2025/img/ui/quote_bl.svg);

    --filter-image-brightness: none;


}

@mixin setDarkThemeVariables {
    --bg-color: #333;
    --bg-color-light: #4e4e4e;
    --bg-color-contrast: #fff;

    --modal-color: #DFDFDF;
    --box-shadow-common: 0 1px 3px rgba(0, 0, 0, 0.25);

    --stroke-color: #c4c4c4;
    --color-main: #bababa;
    --color-contrast: #202020;
    --color-gray: #a7a7a7;
    --color-gray-middle: #7a7a7a;
    --color-gray-dark: #bababa;

    --mark-color: #38826d;

    --disactive-gray: #454545;

    --gray: #a7a7a7;
    --new-red: #ff2121;

    --theme-logo-src: url(https://static.gazeta.ru/nm2025/img/gazeta_logo_2025_wh.svg);

    // ui
    --icon-profile: url(https://static.gazeta.ru/nm2025/img/ui/profile_wh.svg);
    --icon-search: url(https://static.gazeta.ru/nm2025/img/ui/search_wh.svg);

    --icon-g-rus-wh: url(https://static.gazeta.ru/nm2025/img/ui/g_rus_bl.svg);

    --icon-tick_arrow_dwn: url(https://static.gazeta.ru/nm2025/img/ui/tick_arr_dwn_wh.svg);
    --icon-quote: url(https://static.gazeta.ru/nm2025/img/ui/quote_wh.svg);

    --filter-image-brightness: brightness(80%);
}

%setDarkThemeVariables {
    @include setDarkThemeVariables;
}

%baseContentBlock {
    position: relative;

    display: flex;
    flex-flow: column;
    align-items: center;

    width: $rootWidth;
    margin: auto;
    padding: 8px 34px;

    background: var(--bg-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        // @include setDarkThemeVariables;
    }
}

.dark_theme {
    @extend %setDarkThemeVariables;
}

@mixin screenW($size) {
    @media screen and (max-width: $size) {
        @content;
    }
}

@mixin screenH($size) {
    @media screen and (max-height: $size) {
        @content;
    }
}