@use "vars" as *;
@use "reset";
// @use "fonts";

// @use "src/corners" as *;
@use "nm2021";
@use "test";

@use "common";

@use "article";
@use "blocks";

@use "ears";
@use "gallery";

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
